@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
body {
  background-color: #e9ebee;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 15px;
  margin: 15px auto;
}
.pagination li a {
  padding: 8px 12px;
  background-color: transparent;
  color: #3c3c3c;
  cursor: pointer;
}
.pagination li a:hover {
  transition: all .3s linear;
  border-radius: .125rem;
  background-color: #eee;
}
.pagination li.active {
  font-weight: 900;
}
