@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

// FONTS
@primaryFontFamily: 'Roboto', sans-serif;
@primaryFontWeightRegular: 400;
@primaryFontWeightBlack: 900;

@secondaryFontFamily: 'Montserrat', sans-serif;
@secondaryFontWeightRegular: 400;
@secondaryFontWeightBold: 700;

@defaultFontSize: 16px;
@smallFontSize: 14px;
@header1FontSize: 32px;
@header2FontSize: 24px;

// COLORS
@primaryColor: #e4e4e4;
@secondaryColor: #3c3c3c;

body {
  background-color: #e9ebee;
}