@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
.loader-container {
  display: flex;
  height: calc(100vh - 79px);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loader-container .lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader-container .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #4267b2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4267b2 transparent transparent transparent;
}
.loader-container .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-container .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-container .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
