@import '../../../globalStyles/styles';

.post-container {
  width: 80%;
  background-color: @primaryColor;
  padding: 15px;
  margin: 15px auto;

  &__title {
    font-family: @secondaryFontFamily;
    font-weight: @secondaryFontWeightBold;
    font-size: @header2FontSize;
    color: @secondaryColor;
  }

  &__body {
    font-family: @primaryFontFamily;
    font-size: @defaultFontSize;
  }
}