@import '../../../globalStyles/settings';

.post-container {
  width: 80%;
  background-color: #FFFFFF;
  border: 1px solid @accentColor01;
  border-radius: 4px;
  padding: 15px;
  margin: 15px auto;

  &__title {
    font-family: @secondaryFontFamily;
    font-weight: @secondaryFontWeightBold;
    font-size: @header2FontSize;
    color: @secondaryColor;
  }

  &__body {
    font-family: @primaryFontFamily;
    font-size: @defaultFontSize;
  }

  &__view-comments {
    display: block;
    font-family: @primaryFontFamily;
    font-size: @smallFontSize;
    color: @secondaryColor;
    cursor: pointer;
    margin: 30px auto;

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      text-decoration: none;
      cursor: default;
      color: fade(@secondaryColor, 50%);
    }
  }

  &__comments-loader {
    display: flex;
    justify-content: center;
  }

  &__comment-input {
    
  }

  &__comment-button {

  }
}