@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
.post-container {
  width: 80%;
  background-color: #FFFFFF;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 15px;
  margin: 15px auto;
}
.post-container__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3c3c3c;
}
.post-container__body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.post-container__view-comments {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  cursor: pointer;
  margin: 30px auto;
}
.post-container__view-comments:hover {
  text-decoration: underline;
}
.post-container__view-comments:disabled {
  text-decoration: none;
  cursor: default;
  color: rgba(60, 60, 60, 0.5);
}
.post-container__comments-loader {
  display: flex;
  justify-content: center;
}
