@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
.comment-container {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #f2f3f5;
  border-radius: 18px;
  padding: 8px 10px;
  margin: 0 30px 8px;
}
.comment-container__content {
  margin: 0;
}
